<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- menggunakan css di file css -->
    <link rel="stylesheet" href="css/semantic.min.css" />
    <link rel="stylesheet" href="css/landing.css" />
    <!-- Judul Halaman -->
    <title>Landing Page</title>
</head>

<body>
    <section class="sec1">
        <header class=" ui container">
            <div class="content size1">
                <!-- menampilkan kalimat dengan style h1 -->
                <h1>HALO!</h1>
                <!-- menampilkan kalimat dengan stle h2 -->
                <h2>Ini Landing Page.</h2>
                <!-- menampilkan 2 button -->
                <div class="ui buttons button">
                    <a href="#" class="ui large green button">Ini Tombol Hijau</a>
                    <div class="or"></div>
                    <a href="#" class="ui large red button">Ini Tombol Merah</a>
                </div>
                <!-- menampilkan kalimat berikut -->
                <p>HALOOOOOOOOOOOOOOOOOOOOOOOOOOOOO</p>
            </div>
        </header>
    </section>
</body>

</html>